<h1> YOU ARE CORRECT!</h1>

<div class="moth">
<img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>Name: {{name}}</h2>
  <div>Breed: {{breed}}</div>
  <div>Owner: {{owner}}</div>
  <a href="/puppies/{{id}}/edit">Edit</a>
</div>