<div class="container">

    <form>
        <img src={{moths.image}} alt="moth">

        <input type="radio" name="moths" value="{{moths.id}}">
        <label for={{moths.id}}>{{moths.name}}</label><br>
        <input type="radio" name="moths" value={{moths.id}}>
        <label for={{moths.id}}>{{moths.name}}</label><br>
        <input type="radio" name="moths" value={{moths.id}}>
        <label for={{moths.id}}>{{moths.name}}</label>
    </form>
    
</div>