<div class="container">

    <form class="form" action="/" method="post">
        <!--when form is submit the "name" att will be the key and "value" will be the value-->
        <img src={{moths.image}} alt="moth">
        <!--moth 1-->
        <input type="radio" name="moths" value="{{moths.id}}">
        <label for='{{moths.id}}'>{{moths.name}}</label><br>
        <!--moth 2-->
        <input type="radio" name="moths" value='moth2'>
        <label for='moth2'>Multi Moth</label><br>
        <!--moth 3-->
        <input type="radio" name="moths" value='moth3'>
        <label for='moth3'>Mariano Moth</label>
        <!--moth 4-->
        <input type="radio" name="moths" value='moth4'>
        <label for='moth4'>Peter Moth</label>
        <!--this is the real answer-->
        <input type="hidden" name="correctAnswer" value="{{moths.id}}">

        <input type="submit" name="moths" value="Submit">

    </form>

</div>