<h1> YOU ARE INCORRECT!</h1>

<div class="moth">
<img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>Name: {{name}}</h2>
  <div>Fact: {{fact}}</div>
  <a href="/puppies/{{id}}/edit">Edit</a>
</div>